<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://pokedex-13e5e-default-rtdb.firebaseio.com/</string>
	<key>CLIENT_ID</key>
	<string>165961273052-6lkhfmukjj538nt2rc3loltorph5fflh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165961273052-6lkhfmukjj538nt2rc3loltorph5fflh</string>
	<key>API_KEY</key>
	<string>AIzaSyAqgH-VG59aZT_eDWl1ycWiBqjHa1nqazA</string>
	<key>GCM_SENDER_ID</key>
	<string>165961273052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elaniin.Pokedex</string>
	<key>PROJECT_ID</key>
	<string>pokedex-13e5e</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-13e5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:165961273052:ios:e6097addbac05aba166e19</string>
</dict>
</plist>
